body {
    background: #f0f0f0;
    font-family: Arial;
}

.login-box {
    width: 350px;
    background: #fff;
    padding: 25px;
    margin: 80px auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #0275d8;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #025aa5;
}

a { text-decoration: none; color: #0275d8 }
